footer.page-footer
    .container
        .inner.page-footer__inner
            section.page-footer__about.about
                a.about__logo.logo
                    span.logo--red Market
                    | Supply
                p.about__description
                    | This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it's a cold world out there.
                ul.about__list
                    li.about__item.about__item--address 0123 Main Road, Your City, NY 123456
                    li.about__item.about__item--phone (000) 2345 - 6789
                    li.about__item.about__item--email info@psd.in.ua
            section.page-footer__navigation
                h2.page-footer__title
                    | Information
                ul.page-footer__navigation-list
                    li.page-footer__navigation-item
                        a.page-footer__navigation-link(href='#') Our story
                    li.page-footer__navigation-item
                        a.page-footer__navigation-link(href='#') Privacy & Policy
                    li.page-footer__navigation-item
                        a.page-footer__navigation-link(href='#') Terms & Conditions
                    li.page-footer__navigation-item
                        a.page-footer__navigation-link(href='#') Shipping & Delivery
                    li.page-footer__navigation-item
                        a.page-footer__navigation-link(href='#') Careers
                    li.page-footer__navigation-item
                        a.page-footer__navigation-link(href='#') FAQs
            section.page-footer__social
                h2.page-footer__title
                    | Our social
                ul.page-footer__social-navigation.social-navigation
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--google(href='#') Google+
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--facebook(href='#') Facebook
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--pinterest(href='#') Pinterest
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--twitter(href='#') Twitter
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--vimeo(href='#') Vimeo
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--rss(href='#') RSS
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--instagram(href='#') Instagram
                    li.social-navigation__item
                        a.social-navigation__link.social-navigation__link--youtube(href='#') YouTube
            section.page-footer__opening-time.opening-time
                h2.page-footer__title.opening-time__title
                    | Opening time
                p.opening-time__description
                    | Monday - Friday: 08:30 am - 09:30 pm
                    br
                    | Sat - Sun: 09:00 am - 10:00 pm
                section.page-footer__payment.payment
                    h2.page-footer__title.payment__title
                        | Payment option
                    ul.payment__list
                        li.payment__item
                            a.payment__link.payment__link--master-card(href='#')
                                span.visually-hidden master card
                        li.payment__item
                            a.payment__link.payment__link--discover(href='#')
                                span.visually-hidden discover
                        li.payment__item
                            a.payment__link.payment__link--american-express(href='#')
                                span.visually-hidden american express
                        li.payment__item
                            a.payment__link.payment__link--visa(href='#')
                                span.visually-hidden visa
                        li.payment__item
                            a.payment__link.payment__link--stripe(href='#')
                                span.visually-hidden stripe
                        li.payment__item
                            a.payment__link.payment__link--jcb(href='#')
                                span.visually-hidden jcb
        section.page-footer__site-navigation.site-navigation
            ul.site-navigation__list.inner
                li.site-navigation__item
                    a.site-navigation__link(href='#') Sitemap
                li.site-navigation__item
                    a.site-navigation__link(href='#') Searchs
                li.site-navigation__item
                    a.site-navigation__link(href='#') Searchs
                li.site-navigation__item
                    a.site-navigation__link(href='#') Advance
                li.site-navigation__item
                    a.site-navigation__link(href='#') Searchs
                li.site-navigation__item
                    a.site-navigation__link(href='#') Contact Us
            section.page-footer__copyright.inner
                | | 2020 Lada Chudaykina |

