header.header
    .header__top
        .container
            .head
                a.logo1
                    span.logo1__text My Account  |  Wishlist  |  My Cart  |  Checkout  |  Login
            .logo
                .logo: img.logo__picture(src="images/MarketSupply.png" alt="picture" width="152" height="24")
                img.poisk__picture(src="images/poisk.png" alt="picture" width="585" height="37" )
                img.po__picture(src="images/krugkorsina.png" alt="picture" width="37" height="37")
                span.logo__text Total
                span.log__text $600
    .header__nav
        .container
            .men
                img.logo__picture(src="images/znakmenu.png" alt="picture" width="16" height="13")
                span.men__text CLOTHING ELECTRONICS HOT HEALTH&BEAUTY WATCHES JEWELLERY SHOES








