header.header
    .header__top
        .container
            .head
                a.logo1

                    span.logo1__text My Account  |  Wishlist  |  My Cart  |  Checkout  |  Login

    .header__logo
        .container
            img.logo__picture.header__logotip(src="images/logo.png" alt="picture")

            //input(name='s' placeholder='Search here. . . ' type='search')
            //button.g(type='submit')

            img.poisk__picture.header__pois(src="images/poisk.png" alt="picture" width="585" height="37" )




            //img.po__picture(src="images/korzina.png" alt="picture" width="37" height="37")

            button.btn.btn-medium
                i.icon-excel



            span.logo__text Total:
            span.log__text $600

    .header__men
        .container
            i.fa.fa-list(aria-hidden="true")
            span.men__text CATEGORIES

            .header__text
                span.men2__text CLOTHING ELECTRONICS.HOT HEALTH&BEAUTY JEWELLERY SHOES
















