.header {
  &__top {
    background-color: #222222;


  }

  .head {

    text-align: right;
    color: #ffffff;
    padding: 10px;

  }


  &__logo {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: #ffffff;
    padding: 10px;



  }

  &__logotip {

    margin-right: 160px;
  }

  &__pois{

    margin-right: 15px;
  }





  &__men {


    background-color: #f00e34;
    color: #ffffff;
    padding: 10px;



  }

  &__text {

    text-align: right;
    color: #ffffff;
    word-spacing: 50px;


  }

}