.header {
  &__top {
    background-color: #222222;

  }
  .logo{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 10px;


  }
  .head {

    text-align: right;
    color: #ffffff;
    padding: 10px;
  }

  &__nav{

    background-color: #f00e34;

  }
  .men {

    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;


  }

}