.header {
  &__top {
    background-color: #222222;


  }

  .head {

    text-align: right;
    color: #ffffff;
    padding: 10px;

  }


  &__logo {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: #ffffff;
    padding: 10px;



  }

  &__logotip {

    margin-right: 100px;
  }

  &__pois{

    margin-right: 5px;
  }





  &__men {


    background-color: #f00e34;
    color: #ffffff;
    padding: 10px;
    font-family: $ff-main;



  }

  &__text {

    text-align: right;
    color: #ffffff;
    word-spacing: 50px;


  }
  .icon-excel {
    background-image: url("../images/korzina.png");
    border: 0;
    color: #222222 ;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    margin: 1px 1px;
    border-radius: 50%;
  }



}