@font-face{
  font-family: "fonts";
  src: url("../fonts/Calibri.woff") format("woff"),
  url("../fonts/Calibri.woff2") format("woff2");
  font-weight: bold;
  font-style: normal
}

@font-face{
  font-family: "fontsG";
  src: url("../fonts/Calibri-Bold.woff") format("woff"),
  url("../fonts/Calibri-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal
}